{% extends 'base.html' %}
{% block title %}
Obstetrics & Gynec Oncology
{% endblock %}
{% block content %}
{% load static%}
<br>
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{%url 'home'%}">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Medical Specialities</a></li>
          <li class="breadcrumb-item active" aria-current="page">Obstetrics & Gynec Oncology</li>
        </ol>
      </nav>
</div>
<div class="container mt-5">
  <div style="float:left">
    <img src="https://www.news-medical.net/images/news/ImageForNews_709730_16491647872639844.jpg" class="img-thumbnail" style="width:70vh;height:47vh;margin-right:15vh" alt="...">
  </div>
  <div class="text-left">
    <h2>Obstetrics & Gynec Oncology</h2>
    <hr>
    <p class="mb-5" style="font-size:18px;">
        We provide women with comprehensive and compassionate diagnosis and treatment options at every stage of their lives.

        The talented team of obstetrics and gynaecologists at the department provide comprehensive treatment, and are capable of supporting women throughout their life starting from pre‐pregnancy period to menopause and beyond. We help pregnant women deliver healthy babies by detecting birth defects and genetic conditions early through targeted ultrasound and giving specialised care in such complex cases.  
    </p>
  </div>
</div>
<br><br>
<div class="container">
    <h2>Services & Facilities</h2>
    <hr>
    <ul style="font-size:18px;">
        <div style="float:left" class="mb-5">
            <li>Specially equipped to deal with preterm deliveries with the<br> 
                state-of-the-art Neonatal SpeciallyIntensive Care Unit</li> 
            <li>We provide care for all pregnant patients and specialize in<br> 
                High Risk Pregnancies with the help of advanced foetal <br> 
                monitoring techniques</li> 
            <li>GDM (Gestational Diabetes Mellitus)</li> 
            <li>PIH (Pregnancy Induced Hypertension)</li> 
            <li>Eclampsia</li> 
            <li>IUGR (Intra Uterine Growth Restriction )</li> 
            <li>Multiple pregnancies</li> 
            <li>Bad obstetric history
            <li>Heart disease complicating pregnancy</li> 
            <li>Connective Tissue disorders complicating pregnancy like SLE,<br>  
                APLA</li> 
        </div>
        <div style="float:right">
            <li>Haematological complications in pregnancy</li>
            <li>Pain Reduced Labour Programme offered here.</li>
            <ul>
                <li>Surgical treatment for common problems like fibroid,<br>  
                    ovarian cysts etc.</li>
                <li>Abdominal/Vaginal hysterectomies</li>
                <li>Pelvic repair surgeries like vault repair/mesh repair</li>
                <li>Reproductive endocrinology in liaison with the <br>
                    Endocrinologist</li>
                <li>Family planning and contraception</li>
                <li>Adolescent gynaecology</li>
                <li>Menopausal/ geriatrics clinic</li>
                <li>Gynaec oncology –screening for malignancy and <br> 
                    management of cancer of uterus, ovary & cervix</li>
            </ul>
        </div>
    </ul>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br>

{% endblock %}