{% extends 'base.html' %}
{% block title %}
Treatment in India
{% endblock %}
{% block content %}
{% load static%}
<br>
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{%url 'home'%}">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Treatment in India</a></li>
        </ol>
      </nav>
</div>
<div class="container mt-5">
  <div style="float:left">
    <img src="https://img.freepik.com/premium-vector/medical-tourism-illustration_143407-1173.jpg" class="img-thumbnail" style="width:60vh;height:40vh;margin-right:15vh" alt="...">
  </div>
  <div>
    <br><br><br>
    <h2><b>Treatment in India</b></h2>
    <br>
    <p class="mb-5" style="font-size:18px;">
       <i>"Planning for a medical tour? Plan it with us to make it healthier."</i>
    </p>
  </div>
</div>
<br><br><br>
<div class="container">
    <h5 class="text-primary"><b>Medical tour plan</b></h5>
    <br>
    <p>Permit us plan your Medical Tour. First step is to contact us with your medical requirement through any means (contact details given below). Immediately on receipt of your requirement, our coordinators shall get in touch with you
        and plan your entire trip. The undermentioned documents, if available, may please be carried while travelling to us:-</p>
    <ul style="font-size:18px;">
        <div class="mb-5">
            <li>Fitness to Fly Certificate (if warranted)</li>
            <li>Originals/copies of all medical reports</li>
            <li>CD copies of related scans like MRI/CT/Echo</li>
            <li>Referral notes from your doctor, if any.</li>
            <li>International Insurance documents</li>
        </div>
    </ul>
    <h5 class="text-primary"><b>Pre Travel</b></h5>
    <br>
    <ul style="font-size:18px;">
        <div class="mb-5">
            <li>Flight and Hotel booking</li>
            <li>Passport and Visa assistance</li>
            <li>Pre travel medical consultation (through telephone, email or Video call)</li>
            <li>Any other special request that you may have during your travel or stay with us may be conveyed to our Coordinators, including sightseeing tours etc.</li>
        </div>
    </ul>
    <h5 class="text-primary"><b>On Arrival</b></h5>
    <br>
    <p>Our Coordinators are well trained and experienced. They shall receive you at the point of arrival and ensure a smooth and hassle free movement to the hospital or wherever you choose to stay. Suitable transportation arrangements
        would be made to ensure a smooth transit.
        
        The Coordinators would be available with you and shall guide you constantly throughout your stay at the hospital and through every stage of your health plan including treatment plans, checkups and procedures.</p>
        <br>
        <div>
            <div style="float:left" class="w-50">
                <h5 class="text-primary"><b>Contact Information</b></h5>
                   <br>
                <h5><b>International Marketing</b></h5>
                <br>
                <h6>Mobile No. +91 906 11 22 666</h6>
                
                <h6>WhatsApp : +91 906 11 22 666</h6>
            </div>
            <div style="float:left" class="w-50">
                <br><br>
                <h6 class="mt-5">Fax No. : +91 495 2723484</h6>
     
                <h6 class="text-danger">Email ID :internationaldesk@babymhospital.com</h6>
                
            </div>
        </div>
</div>
<br><br>
<br><br><br><br><br><br>

{% endblock %}