{% extends 'base.html' %}
{% block title %}
Urology
{% endblock %}
{% block content %}
{% load static%}
<br>
<div class="container-fluid">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{%url 'home'%}">Home</a></li>
          <li class="breadcrumb-item"><a href="#">Medical Specialities</a></li>
          <li class="breadcrumb-item active" aria-current="page">Urology</li>
        </ol>
      </nav>
</div>
<div class="container mt-5">
  <div style="float:left">
    <img src="https://thumbs.dreamstime.com/b/doctor-shows-urinary-system-blurred-background-doctor-shows-urinary-system-154309140.jpg" class="img-thumbnail" style="width:70vh;height:55vh;margin-right:15vh" alt="...">
  </div>
  <div class="text-left">
    <h2>Urology</h2>
    <hr>
    <p class="mb-5" style="font-size:18px;">
        The specialists in EKA has the expertise to diagnose and treat complex urological disorders in both children as well as adults.

        The Urology department at EKA provides advanced diagnosis, treatment and surgical procedures for all kidney‐related problems. We provide urological care for infertility, erectile dysfunction, urological cancers, congenital and stone diseases.Our doctors leverage their combined experience and knowledge to provide specialised care to our patients suffering from cancer and other urological problems. Apart from General Urology, the department has dedicated units for Endourology, Renal Transplantation, Paediatric Urology and Laparoscopic Urology and Reconstructive Urology.
    </p>
  </div>
</div>
<br><br>
<div class="container">
    <h2>Services & Facilities</h2>
    <hr>
    <ul style="font-size:18px;">
        <div style="float:left" class="mb-5">
            <li>Equipped with sophisticated instruments for diagnosis <br>and treatment</li>
            <li>Urodynamic Laboratory for voiding disorders and Neuropathic<br> Bladder</li>
            <li>Complete Urinary Stone Management Centre ­ first of its kind <br>in Kerala – with facilities for ESWL, minimally invasive<br> procedures like PCNL, URS and RIRS (Flexible Ureterorenoscopy)<br> with Laser Lithotripsy</li>
            <li>Dedicated stone clinic for prevention of recurrence</li>
            <li>Ultrasound (Abdominal and Transrectal) and Doppler studies of<br> scrotum and penile vasculature</li>
            <li>Division of Neonatal and Paediatric Urology headed by qualified<br> Paediatric Surgeon with exclusive experience in urology</li>
        </div>
        <div style="float:right">
            <li>Surgery for Genitourinary Tumours</li>
            <li>Plastic Reconstruction after Cancer Surgery and for <br>Congenital Abnormalities</li>
            <li>Prostate surgeries for Benign Enlargement and Cancer</li>
            <li>Endoscopic and Laparoscopic Urological Procedures for<br>
                 adults and children of any age group</li>
            <li>Treatment for Male Infertility, Testicular diseases and<br>
                 Impotence including Implantation of Penile Prosthesis</li>
            <li>Urinary incontinence and prolapse management in females<br> – open
                 and laparoscopic procedures and minimally invasive <br>sling repairs</li>
            <li>Transplantation surgery and access surgery for dialysis</li>
        </div>
    </ul>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>

{% endblock %}